<!-- <div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4" style="width: 400px;">
    <h4 class="text-center mb-4">ورود به حساب کاربری</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">ایمیل</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div class="text-danger small" *ngIf="email && email">
          لطفاً ایمیل معتبر وارد کنید
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">رمز عبور</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div class="text-danger small" *ngIf="password && password">
          رمز عبور حداقل ۶ کاراکتر
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">
        ورود
      </button>
    </form>
  </div>
</div> -->

  <!-- <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign In</h1>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
          <a class="link-btn" href="https://codepen.io/Suresh-Yadav-the-reactor/full/JjQEvKM">Go to dashboard</a>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start your journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
          <a class="link-btn" href="https://codepen.io/Suresh-Yadav-the-reactor/full/rNEjQVE">Create profile</a>
        </div>
      </div>
    </div>
  </div> -->
<div class="login">
<div class="container">
      <div class="column">
          <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
      </div>
      <div class="column">
          <div class="form-container sign-in-container">
      <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Sign In</h1>
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password"/>
        <button>Sign In</button>
      </form>
    </div>
      </div>
</div>
</div>

