<div class="cards-container">


<div class="card" style="width: 18rem;" *ngFor="let doctor of doctors" >
  <img src="https://img.freepik.com/premium-vector/cute-woman-avatar-profile-vector-illustration_1058532-14592.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ doctor.fullName }} </h5>
    <p class="card-text">تخصص: {{ doctor.specialty || '---' }}</p>
    <p>ایمیل: {{ doctor.email }}</p>
      <button (click)="bookAppointment(doctor.id)"  href="#open-modal">
        رزرو وقت
      </button>
  </div>
</div>

<div class="modal-window" [class.show]="modalVisible">
  <div>
    <div class="container">
    <h5> رزرو وقت با {{ doctor?.fullName }}</h5>
  <div class="row align-items-center mt-5">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="input-group mb-3">
         <label class="block text-sm mb-1">تاریخ:</label>
    <input type="date" [(ngModel)]="selectedDate" class="border p-2 rounded w-full" />
      </div>
         <div class="mb-4">
    <label class="block text-sm mb-1">ساعت:</label>
    <input type="time" [(ngModel)]="selectedTime" class="border p-2 rounded w-full" />
  </div>
    </div>
    <div class="col-2"></div>
  </div>

          <button
    class="bg-blue-600 text-white px-4 py-2 rounded w-full"
    (click)="book()">
    تایید رزرو
  </button>
  </div>

</div>


</div>
</div>

<!--

<div class="cards-container">
  <div class="user-card" *ngFor="let doctor of doctors">
   <div class="avatar" >
    <img src="https://img.freepik.com/premium-vector/cute-woman-avatar-profile-vector-illustration_1058532-14592.jpg" alt="User Avatar" />
  </div>
  <div class="info">
  <h4>{{ doctor.fullName }}</h4>
  <p>تخصص: {{ doctor.specialty || '---' }}</p>
  <p>ایمیل: {{ doctor.email }}</p>
     <button (click)="bookAppointment(doctor.id)"  href="#open-modal">
        رزرو وقت
      </button>
  </div>
  </div>
</div>




  </div>
</div> -->


<!-- <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" >
</div>

<button type="button" class="btn btn-primary btn-sm">Small button</button> -->


    <!-- <button class="modal-close" (click)="closeModal()">✕</button>
    <h5> رزرو وقت با {{ doctor?.fullName }}</h5>
   <p-calendar [(ngModel)]="selectedDate" dateFormat="yy/mm/dd" ></p-calendar>
<p>تاریخ انتخاب شده: {{ selectedDate | date:'yyyy/MM/dd' }}</p> -->


<!-- <div class="p-6 max-w-xl mx-auto bg-white rounded-2xl shadow">
  <h2 class="text-xl font-bold mb-4">رزرو وقت با {{ doctor?.fullName }}</h2>

  <div class="mb-4">
    <label class="block text-sm mb-1">تاریخ:</label>
    <input type="date" [(ngModel)]="selectedDate" class="border p-2 rounded w-full" />
  </div>

  <div class="mb-4">
    <label class="block text-sm mb-1">ساعت:</label>
    <input type="time" [(ngModel)]="selectedTime" class="border p-2 rounded w-full" />
  </div>

  <button
    class="bg-blue-600 text-white px-4 py-2 rounded w-full"
    (click)="book()">
    تایید رزرو
  </button>
</div> -->












<!-- <div class="doctor-list-container">
  <h2>پزشکان ما</h2>

  <div class="doctor-grid">
    <div *ngFor="let doctor of doctors" class="doctor-card">
      <div class="header">
        <img [src]="doctor.photoUrl || 'https://img.freepik.com/premium-vector/cute-woman-avatar-profile-vector-illustration_1058532-14592.jpg'" alt="doctor" />
        <div>
          <h3>{{ doctor.fullName }}</h3>
          <p>{{ doctor.specialty }}</p>
        </div>
      </div>

      <p class="description">
        {{ doctor.description || 'اطلاعاتی ثبت نشده است.' }}
      </p>

      <button (click)="bookAppointment(doctor.id)">
        رزرو وقت
      </button>
    </div>
  </div>
</div> -->
